@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-['Figtree'];
  }

  @font-face {
    font-family: 'Prosa';
    src: url('/fonts/ProsaBlack.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

.gradient-green-border {
  position: relative;
}

.gradient-green-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
      145.97deg,
      #6bea7a 1.98%,
      rgba(182, 246, 226, 0.14) 31.96%,
      rgba(255, 255, 255, 0.12) 96.88%
    ),
    linear-gradient(
      95.73deg,
      rgba(255, 159, 34, 0) 13.47%,
      rgba(255, 184, 32, 0.2) 99.33%
    );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-purple-border {
  position: relative;
}

.gradient-purple-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
      145.97deg,
      #9b468a 1.98%,
      rgba(182, 246, 226, 0.14) 31.96%,
      rgba(255, 255, 255, 0.12) 96.88%
    ),
    linear-gradient(
      95.73deg,
      rgba(255, 159, 34, 0) 13.47%,
      rgba(255, 184, 32, 0.2) 99.33%
    );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-purple-to-blue-border {
  position: relative;
}

.gradient-purple-to-blue-border::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  background: linear-gradient(to right, #fa155c, #3920df);
  box-shadow: 0 0 10px rgba(250, 21, 92, 0.5);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@layer utilities {
  .top-left-white-border {
    position: relative;
    background: linear-gradient(
      175deg,
      #cbcbcbff,
      #66666631,
      #66666652,
      #bababa10
    );
    padding-bottom: 0px;
    padding: 1px;
    border-radius: 24px;
  }

  .top-left-white-border > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .top-white-border {
    background: linear-gradient(
      180deg,
      #cbcbcbff,
      #66666631,
      #66666652,
      #bababa10
    );
    padding-bottom: 0px;
    padding: 0.7px;
    border-radius: 24px;
  }
  .top-white-border > * {
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .bottom-right-green-border {
    position: relative;
    background: linear-gradient(
      -40deg,
      #6bea7a 1.98%,
      rgba(182, 246, 226, 0.14) 31.96%,
      rgba(255, 255, 255, 0.12) 96.88%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .bottom-right-green-border > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .bottom-right-blue-border {
    position: relative;
    background: linear-gradient(
      -40deg,
      #228bff 1.98%,
      rgba(182, 246, 226, 0.14) 31.96%,
      rgba(255, 255, 255, 0.12) 96.88%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .bottom-right-blue-border > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .bottom-right-purple-border {
    position: relative;
    background: linear-gradient(
      -40deg,
      #8b22ff 1.98%,
      rgba(182, 246, 226, 0.14) 31.96%,
      rgba(255, 255, 255, 0.12) 96.88%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .bottom-right-purple-border > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .bottom-right-yellow-border {
    position: relative;
    background: linear-gradient(
      -40deg,
      #ffd700 1.98%,
      rgba(182, 246, 226, 0.14) 31.96%,
      rgba(255, 255, 255, 0.12) 96.88%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .bottom-right-yellow-border > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  /* key offering */
  .border-live-classes {
    position: relative;
    background: linear-gradient(
      160deg,
      #94c5f2 0%,
      rgba(182, 215, 246, 0.14) 32%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .border-live-classes > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .border-capstone {
    position: relative;
    background: linear-gradient(
      160deg,
      #ea6bce 0%,
      rgba(246, 182, 234, 0.14) 32%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .border-capstone > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .border-doubt-solving {
    position: relative;
    background: linear-gradient(
      160deg,
      #f2ba94 0%,
      rgba(246, 221, 182, 0.14) 32%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .border-doubt-solving > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .border-curriculum {
    position: relative;
    background: linear-gradient(
      160deg,
      #62e685 0%,
      rgba(182, 246, 183, 0.14) 32%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-bottom: 0px;
    padding: 1.5px;
    border-radius: 24px;
  }

  .border-curriculum > * {
    background: #131416;
    border-radius: 23px;
    height: 100%;
    width: 100%;
  }

  .radial-text {
    background: radial-gradient(circle at center, #ffffff 0%, #8b8282 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
